.section {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}

.sub-section {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  .section-phone {
    display: flex;
    flex-direction: column;
  }
}

.sub-title {
  font-style: italic;
}

.sub-img {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  max-width: 100%;
}

.hr-wrapper {
  align-items: flex-start;
  align-self: flex-start;
  width: 4rem;
  margin-left: 1rem;
  border-bottom: 3px solid #81b3e9;
}
hr {
  display: none;
  flex-direction: row;
  justify-self: flex-start;
  align-self: flex-start;
  color: white;
}

h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 73px;
  color: #81b3e9;
}

h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 45px;
  color: #46515d;
}

body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

h3 {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 19px;
  line-height: 29px;
  color: #46515d;
}

.small-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #81b3e9;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.green-gradient {
  background: linear-gradient(180deg, #97c3cc 0%, #8dcdcf 100%);
}

h1.jumbotron-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 97px;
  color: #ffffff;
  margin-right: 1rem;
}

.jumbotron-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 97px;
  color: #ffffff;
  margin-right: 1rem;
}

.jumbotron-subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.jumbotron-sub-section {
  display: flex;
  flex-direction: column;
}

.navbar-thin {
  padding-top: 0;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
}

.prototypes-img {
  box-shadow: 6px 6px #46515d;
}

.col-img {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.img-section {
  display: flex;
  flex-direction: row;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
  filter: none !important;
  color: #46515d;
}

.carousel-img {
  border: 1px solid #46515d;
}

.video {
  width: 800px;
  height: 450px;
}

@media only screen and (max-width: 800px) {
  .video {
    width: 400px;
    height: 225px;
  }
}

@media only screen and (max-width: 500px) {
  .video {
    width: 300px;
    height: 175px;
  }
}

.center {
  align-items: center;
}
